---
layout: default
---

<details>
  <summary><h2 class="as-text">Work</h2></summary>
  <ul class="list list-items">
    <li>
      2017 ~ Research Scientist (AI/ML/DS) at <mark><a href="https://www.sintef.no/en/">SINTEF</a></mark>
      <!--<div class="small">
        previously Design Systems Engineer (~ 2017) and Product Designer (~ 2016)
      </div>-->
    </li>
    <li>2016 ~ (Scientific) Software Engineer at <mark><a href="https://www.stcorp.no/">S[&amp;]T</a></mark></li>
    <li>2016 ~ PostDoc (Astrophysics) at <mark><a href="https://www.ctac.uzh.ch/">CTAC</a>/<a href="https://www.mn.uio.no/ceed/english/">CEED</a></mark></li>
    <li>2011 ~ PhD (Astrophysics) at <mark><a href="https://www.ctac.uzh.ch/">CTAC</a></mark></li>
  </ul>
</details>
<details>
  <summary><h2 class="as-text">Papers</h2></summary>
  <ul class="list list-items">
    <li>2019 ~ <a href="https://www.cired-repository.org/handle/20.500.12455/444">Incipient Fault Prediction in Power Quality Monitoring</a></li>
    <li>2019 ~ <a href="https://www.cired-repository.org/handle/20.500.12455/442">Automated Detection of EVs in Hourly Smart Meter Data</a></li>
    <li>
      2015 ~ <a href="https://arxiv.org/abs/1508.00917">Stochasticity in Terrestrial Planet Formation</a>
      <div class="small">
        Copious Amounts of Simulation Outputs <a href="https://cheleb.net/astro/sp15/">Available</a>
      </div>
    </li>
    <li>2012 ~ <a href="https://arxiv.org/abs/1203.1155">ISM Turbulence &amp; Gravitational Stability</a></li>
  </ul>
</details>
<details>
  <summary><h2 class="as-text">Posters</h2></summary>
  <ul class="list list-items">
    <li>2019 ~ <a href="https://cheleb.net/posters/cired19pq.pdf">Fault 
    Prediction in Power Quality Monitoring</a> (CIRED)</li>
    <li>2019 ~ <a href="https://cheleb.net/posters/cired19ev.pdf">Detection of EVs in Hourly Smart Meter Data</a> (CIRED)</li>
    <li>2019 ~ <a href="https://cheleb.net/posters/sd19.pdf">Smart Data in the Smart Grid</a> (SINTEF)</li>
    <li>2015 ~ <a href="https://cheleb.net/posters/pasc15.pdf">Chaos in Terrestrial Planet Formation</a> (PASC)</li>
    <li>2014 ~ <a href="https://cheleb.net/posters/cambridge14.pdf">Stochasticity in Terrestrial Planet Formation</a> (Cambridge)</li>
  </ul>
</details>
<details>
  <summary><h2 class="as-text">Talks</h2></summary>
  <ul class="list list-items">
    <li>Aug 2019 ~ Predicting the Grid [<a href="https://cheleb.net/talks/2019-08-27_UiO-AI-Lounge_Energy.pdf">PDF</a>]</li>
    <li>Jun 2019 ~ Climate, Satellites, and AI [<a href="https://cheleb.net/talks/2019-06-13_ClimateWorkshop_Austin.pdf">PDF</a>]</li>
    <li>May 2019 ~ Crypto Powered Distributed AI [<a href="https://cheleb.net/talks/2019-05-29_CryptoPoweredDistributedAi.pdf">PDF</a>]</li>
    <li>Apr 2019 ~ The Electric Weather Forecast [N/A]</li>
    <li>Apr 2019 ~ Explainable AI [<a href="https://cheleb.net/talks/2019-04-09_XAI.pdf">PDF</a>]</li>
    <li>Feb 2019 ~ Shapley Additive Explanations [<a href="https://cheleb.net/talks/2019-02-22_SHAP.pdf">PDF</a>]</li>
    <li>Feb 2019 ~ Weather Related Power Outages [<a href="https://cheleb.net/talks/2019-02-28_WeatherFaults.pdf">PDF</a>] [<a href="https://www.youtube.com/watch?v=P12LtpstsFQ">Video</a>]</li>
  </ul>
</details>
<details>
  <summary><h2 class="as-text">Notebooks</h2></summary>
  <ul class="list list-items">
    <li><a href="https://github.com/vhffm/PythonForDataScience">Python for Data Science</a></li>
    <li><a href="https://cheleb.net/ipython/ScatterMatrix.html">Scattermatrix (Matplotlib)</a></li>
    <li><a href="https://cheleb.net/ipython/astro">Astrophysics (Genga, Pkdgrav, Ramses)</a></li>
    <li><a href="https://cheleb.net/ipython/nbim">ML for Asset Class Mapping</a></li>
  </ul>
</details>
<details>
  <summary><h2 class="as-text">Posts</h2> <a class="small" href="/feed.xml">[feed]</a></summary>

  <ul class="list list-items">
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <time>{{ post.date | date: "%b %d, %Y" }}</time>
      </li>
    {% endfor %}
  </ul>
</details>
<details>
  <summary><h2 class="as-text">Hyperlinks &amp; Contact</h2></summary>
  <ul class="list list-items">
    <li>
      <mark><a href="https://github.com/vhffm" rel="me">GitHub</a></mark>, 
      <mark><a href="http://git.cheleb.net" rel="me">CGit</a></mark>, 
      <mark><a href="https://labs.cheleb.net/grafana" rel="me">Grafana</a></mark>
    </li>
    <li><a href="mailto:volker@cheleb.net">volker@cheleb.net</a></li>
  </ul>
</details>
<details>
  <summary><h2 class="as-text">Not Tweets</h2> <a class="small" href="/notes.xml">[feed]</a></summary>

  <ul class="list-notes">
    {% for note in site.data.notes limit: 5 %}
      <li class="note">
        <time class="small">{{ note.date | date: "%b %d, %Y" }}</time> <a href="/notes#date-{{ note.date | date: "%Y-%m-%d" }}{{ note.slug }}" class="small">#</a>
        <div>{{ note.content | markdownify }}</div>
      </li>
    {% endfor %}
    {% if site.data.notes.size > 5 %}
      <li class="note"><a class="small" href="/notes">More.</a></li>
    {% endif %}
  </ul>
</details>
